body {
    margin: 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.logo-img {
    height: 30px;
    width: 100;
}
.nav-link {
    text-decoration: none;
    padding: 0 20px;
    color: black;
}
.header-button{
    padding: 12px 24px;
    background-color: #1A6F32;
    color: white;
    border: none;
    border-radius: 20px;  
}
.main-container {
    margin-top: -200px;
    padding: 250px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #B7D1BF;
}
.hero-text {
    text-align: center;
    font-weight: 400;
    font-size: 60px;
}
.hero-img {
    max-height: 650px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 20px;
}


