body {
    margin: 0;
}
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
.logo-img {
    height: 30px;
    width: 100;
}
.nav-link {
    text-decoration: none;
    padding: 0 20px;
    color: black;
}
.header-button{
    padding: 12px 24px;
    background-color: #1A6F32;
    color: white;
    border: none;
    border-radius: 20px;  
}
.main-container {
    margin-top: -200px;
    padding: 250px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #B7D1BF;
}
.hero-text {
    text-align: center;
    font-weight: 400;
    font-size: 60px;
}
.hero-img {
    max-height: 650px;
    max-width: 600px;
    margin: 20px auto;
    border-radius: 20px;
}
.aboiut-container {
 /* background-color:#FFFFFF;*/
  background-image: url("img\6a113d1c8ed644ee1979431b5f1c9390.png");
  padding:90px 30px;
  margin-top:-80px ;
  width: 1299;
height: 474;
top: 68px;
left: 71px;
border-radius: 40px;
background: #FAFAFAD1;


  ;
}
.aboiut-text{
    color:black;
    font-size:20px;
    text-align:left;
}

      
.footer-container{
    padding: 50px 30px;
    background-color:#292929;
    margin-top:20px 0px;

}
.footer-text{
    font-size:20px ;
    font-weight: normal;
    line-height: 50px;
    color:#FFFFFF;
    padding:0px 10px;
  }
  .footer-button{
    display: flex;
    justify-content: right;
    border-radius: 32px;
    border-width: 4px;
    padding-top: 15px;
    padding-right: 42px;
    padding-bottom: 15px;
    padding-left: 42px;
    gap: 10px;
    border: 2px solid #1A6F32;
  }
  .footer-lower{
    font-size: 16px;
    color:#FFFFFF;
    padding:10px 10px;
  }
